{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Network</a>
          
            <div>
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#"><strong>{{ user.username }}</strong></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'newpost' %}">New Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile/{{user.id}}">
                            Your Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'followedposts' %}">
                            Followed Users Posts
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        
        <div class="body">
            {% if message %}
                <div>{{ message }}</div>
            {% endif %}
            {% block body %}
            {% endblock %}
            {% if posts.has_other_pages %}
                <nav aria-label="...">
                <ul class="pagination">
                    {% if posts.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{posts.previous_page_number}}">
                        Previous
                        </a>
                    </li>
                    {% else %}
                        <li class="page-item disabled"><span>Previous</span></li>
                    {% endif %}
                    {% for i in posts.paginator.page_range %}
                    {% if posts.number == i %}
                        <li class="page-item active">
                        <span class="sr-only">{{i}}</span>
                        </li>
                    {% else %}
                        <li class="page-item">
                        <a class="page-link" href="?page={{i}}">{{i}}</a>
                        </li>
                    {% endif %}
                    {% endfor %}
                    {% if posts.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{posts.next_page_number}}">
                        Next
                        </a>
                    </li>
                    {% else %}
                    <li class="disabled page-item">Next</li>
                    {% endif %}
                </ul>
                </nav>
            {% endif %}
        </div>
    <script type="text/javascript" src="/static/network/liking.js"></script>
    <script type="text/javascript" src="/static/network/following.js"></script>
    </body>
</html>